



.account-card:hover {
  transform: translateY(-5px);
}

.transaction-item {
  transition: background-color 0.2s ease;
}

.transaction-item:hover {
  background-color: #f9fafb;
}

.mainPage{
  top: 0;
  margin-left:220px;

}
@media (max-width: 768px) {
  .mainPage {
      margin-left: 0;
  }
}
